footer {
    background: linear-gradient(#B8DFBE, #385f42);
}

.footer {
    display: flex;
    justify-content: space-around;
    color: var(--colornegro);
    padding: 25px 0;

    & .politicas {
        display: flex;
        gap: 50px;

        & a {
            color: var(--colornegro);
        }

        & a:hover {
            color: #152c1b;
            text-decoration: underline;
        }
    }
}


@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    & .politicas {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
}




